@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #684BB1;
    background-image: url("images/bg-desktop.svg");
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head .logo-image {
    height: 70px;
    padding: 30px 0 0 60px;
}

.page-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 50px;
}

.text-part .title {
    font-size: 2.5rem;
    font-weight: 600;
}

.text-part p {
    font-size: 1.09rem;
    font-weight: 400;
}

.text-part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* max-width: 40%; */
    gap: 20px;
    padding-left: 50px;
    /* margin-bottom: 100px; */
}

button {
    width: 200px;
    height: 56px;
    background-color: #fff;
    font-size: 18px;
    color: #7b62bb;
    padding: auto;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e880e8;
    color: #fff;
}